body {
    font-family: "メイリオ", sans-serif;
    background-color: #eef1f3;
}
a:hover {
    text-decoration: none;
    opacity: .7;
    transition: .3s;
    color: inherit;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

/* 共通のコンポーネント */
/* ヘッダー */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.header-top {
    background-color: #2C88CB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 20px;
}
.header-top__menu-icon {
    /* width: 35px; */
    transition: .3s;
}
.header-top__menu-icon i {
    font-size: 35px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #fff;
}
.header-top__menu-icon:hover {
    opacity: .7;
    transition: .3s;
    cursor: pointer;
}
.header-top__logo {
    /* width: 150px; */
}
.header-top__logo img {
    width: 100%;
}
/* .header-top__search-bar {
    width: 55%;
} */
.header-top__links {
    display: flex;
    align-items: center;
}
.header-top__link + .header-top__link {
    margin-left: 30px;
}
.header-top__form-group {
    display: flex;
    margin-bottom: 0;
}
.header-top__item_list a {
    color: #fff;
}
.header-top__account-information a {
    color: #fff;
}
.header-top__cart-link {
    text-align: right;
    transition: .3s;
}
.header-top__cart-link:hover {
    color: #fff;
}
.header-top__cart-link i {
    font-size: 35px;
}
/* ヘッダーの下側 */
.header-bottom {
    background-color: #232f3e;
    color: #fff;
    padding: 5px 20px;
}
.header-bottom,
.header-bottom__delivery-location,
.header-bottom__service-links {
    display: flex;
    align-items: center;
}
.delivery-location__text {
    font-size: 12px;
    padding-left: 10px;
}
.header-bottom__service-links {
    padding-left: 150px;
    margin-bottom: 0;
}
.header-bottom__service-link + .header-bottom__service-link {
    padding-left: 20px;
}
.header-bottom__service-link a,
.header-bottom__notice a,
.header-top__account-information a,
.header-top__cart-link {
    color: #fff;
}
.header-bottom__service-link {
    list-style: none;
}
.header-bottom__notice {
    margin-left: auto;
}
@media(max-width: 768px) {
    .header-top__search-bar {
        width: 40%;
    }
    .header-bottom__service-links {
        padding-left: 30px;
    }
    .header-top__menu-icon {
        width: unset;
    }
}
@media(max-width: 768px) {
    .header-bottom,
    .header-top__search-bar,
    .header-top__account-information {
        display: none;
    }
}
main {
    min-height: calc(100vh - 60px);
}
/* フッター */
footer {
    
}
.footer-top {
    height: 60px;
    line-height: 60px;
    background-color: #2C88CB;
    text-align: center;
}
.back-top-top__link {
    display: block;
    font-size: 14px;
    color: #fff;
}
.back-top-top__link:hover {
    color: #fff;
    opacity: .6;
    text-decoration: none;
}

.user-registration,
.item-image-registration {
    max-width: 800px;
    width: 100%;
}
.item-registration__outer {
    max-width: 1200px;
    display: flex;
    box-sizing: border-box;
    margin: 0 -20px;
}
.item-registration {
    padding: 0 20px;
    box-sizing: border-box;
    width: 70%;
}
.add-image {
    padding: 0 20px;
    box-sizing: border-box;
    width: 30%;
}
/* 商品一覧 */
.item-list {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 60px;
    box-sizing: border-box;
    overflow: hidden;
}
.item-detail {
    padding: 30px 15px;
    list-style: none;
    width: calc(100% / 4);
    border-bottom: 2px solid #ddd;
}
.item-detail .trimming {
    position: relative;
    width: 100%;
}
.item-detail .trimming::before {
    content: "";
    display: block;
    padding-top: 100%;
}
.item-detail .trimming img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}
.about-user {
    float: right;
    display: flex;
}
.about-user__item + .about-user__item {
    margin-left: 20px;
}
.about-user__item {
    height: 40px;
    line-height: 40px;
}
.about-user__item a {
    display: block;
    background: #2C88CB;
    color: #fff;
    padding: 0 10px;
}
@media(max-width: 1050px) {
    .item-detail {
        width: calc(100% / 3);
    }
}
@media(max-width: 768px) {
    .item-detail {
        width: calc(100% / 2);
    }
}
.item-detail__image {
    width: 100%;
}
.item-detail__name {
    margin-top: 15px;
}
.item-detail__price__number {
    font-size: 18px;
}
.page-links {
    margin-top: 30px;
    width: 100%;
}
/* 商品登録　編集画面 */
/* ドラッグアンドドロップ部分のスタイル */
.form-control-file {
    color: blue;
    font-size: 16px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px;
    transition: .3s;
}
.form-control-file:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #ddd;
    transition: .3s;
}
.enter {
    border: 3px solid skyblue;
}
input[type="file"] {
    width: auto;
    outline: 0;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: .3s;
}
.user-registration input[type="submit"] {
    background-color: #A2D463;
    color: #fff;
}
input[type="file"]:hover {
    cursor: pointer;
}
input[type="file"]::-webkit-file-upload-button {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-color: transparent;
    border: 0;
    margin: 0 20px 0 0;
  }
  textarea {
    resize: vertical;
    min-height: 500px;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  }
.uploaded_btn {
    padding: 10px 0;
    background-color: #2C88CB;
    color: #fff;
}
.uploaded_btn:hover {
    color: #fff;
    opacity: .8;
}
.save__btn {
    margin-top: 30px;
    background-color: #2C88CB;
    color: #fff;
    display: block;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
}
.save__btn:hover {
    color: #fff;
    opacity: .8;
}
  /* 商品詳細ページのスタイル */
.item-detail__wrap {
      display: flex;
      flex-wrap: wrap;
      margin: 30px -50px 0;
      padding-bottom: 50px;
      position: relative;
}
.item-detail__images,
.item-detail__block {
    width: 50%;
    box-sizing: border-box;
    padding: 0 50px;
}
.item-detail__block p span {
    font-weight: bold;
}
.item-detail__block p {
    font-size: 18px;
}
.item-detail__images {
    position: relative;
}
.item-detail__images__main {
    position: relative;
    overflow: hidden;
}
.item-detail__images__main::before {
    content: "";
    display: block;
    padding-top: 100%;
}
.item-detail__images__main img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}
.zoom_lens {
    display: none;
    position: absolute;
    top: 10px;
    background: lightblue;
    left: 20px;
    z-index: 2;
    cursor: crosshair;
    opacity: .3;
    height: 170px;
    width: 170px;
}
.zoom_lens.active {
    display: block;
}
.item-detail__images img {
    width: 100%;
}
.zoom__area {
    position: absolute;
    top: 0;
    right: -500px;
    height: 550px;
    width: 500px;
    overflow: hidden;
    z-index: 2;
    display: none;
}
.zoom__area.active {
    display: block;
}
.item-detail__links {
    float: right;
    display: flex;
}
.to__cart-page {
    padding: 5px 10px;
    background: #2C88CB;
    color: #fff;
}
.select_quantity span {
    font-size: 18px;
    font-weight: bold;
}
.select_quantity select {
    padding: 5px 0;
    border: 1px solid #bbb;
}
.back-to__item-list {
    padding: 5px 10px;
    background: #2C88CB;
    color: #fff;
}
.to__cart-page + .back-to__item-list {
    margin-left: 20px;
}
.item-detail a {
    background: #2C88CB;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
.back-to__item-list:hover {
    opacity: .7;
    color: #000;
}
.cart-in__wrap {
    display: flex;
    margin-top: 20px;
}
.cart-in__bottom {
    border: none;
    outline: none;
    background: #A2D463;
    color: #fff;
    padding: 10px;
}
.cart-in__bottom:hover {
    opacity: .8;
}
.back-to-item-list {
    margin-left: 20px;
}
.back-to-item-list___link {
    display: block;
    padding: 0 20px;
    color: #fff;
    background:#2C88CB;
    height: 44px;
    line-height: 44px;
}
.back-to-item-list___link:hover {
    color: #fff;
}
.other-image__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px -10px 0;
    padding-left: 0;
}
.other-image__item {
    width: calc(100% / 3);
    box-sizing: border-box;
    padding: 0 10px;
    list-style: none;
    cursor: pointer;
    transition: .3s;
}
.other-image__item:hover {
    opacity: .8;
    transition: .3s;
}
.other-image__item img {
    width: 100%
}
@media(max-width: 768px) {
    .item-detail__wrap {
        margin: 30px 0 0;
    }
    .item-detail__images,
    .item-detail__block {
        width: 100%;
    }
}


/* カート */
.cart {
    display: flex;
    width: 100%;
    margin: 40px -40px 0;
    box-sizing: border-box;
}
.cart-items {
    width: 70%;
    overflow: hidden;
    padding: 0 40px;
    box-sizing: border-box;
}
.checkout-link {
    padding: 0 40px;
    background-color: #f9f9f9;
    width: 30%;
    overflow: hidden;
    box-sizing: border-box;
}
.cart-item {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}
.cart-item + .cart-item {
    margin-top: 40px;
}
.cart-item__image {
    width: 20%;
    box-sizing: border-box;
}
.cart-item__image img {
    width: 100%;
}
.cart-item__infomation {
    width: 80%;
    padding-left: 40px;
    box-sizing: border-box;
}
.cart-item__infomation p a {
    color: #0066c0;
    font-size: 16px;
}
.cart-item__sum {
    float: right;
}
.cart-item__sum,
.cart-item__sum__aside {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}
.to-checkout-page a {
    background: #2C88CB;
    color: #fff;
    display: block;
    padding: 5px;
    text-align: center;
}
.sum-price__individual {
    float: right;
    font-weight: bold;
    font-size: 16px;
}
.to__register-page {
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
    background: #2C88CB;
    color: #fff;
    margin: 0 20px;
}
.to__register-page:hover {
    color: #fff;
}
/* マイページ */
.user-information__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -20px;
}
.user-information__image {
    width: 50%;
    padding: 0 20px;
    box-sizing: border-box;
}
.user-information__image img {
    width: 100%;
}
.user-information__list {
    padding: 0 20px;
    box-sizing: border-box;
    width: 50%;
}
.user-information__list li {
    list-style: none;
    font-size: 18px;
}
.user-information__list li + li {
    margin-top: 10px;
}
.register_link {
    margin-top: 30px;
}
.registered-items__wrap {
    margin-top: 50px;
}
.registered-items {
    padding-left: 0;
    box-sizing: border-box;
    margin: 0 -20px;
    display: flex;
    flex-wrap: wrap;
}
.registered-item {
    margin-top: 20px;
    list-style: none;
    box-sizing: border-box;
    padding: 0 20px;
    width: calc(100% / 4);
}
.registered-item .trimming {
    position: relative;
    width: 100%;
}
.registered-item .trimming::before {
    content: "";
    display: block;
    padding-top: 100%;
}
.registered-item .trimming img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}
.registered-item p {
    margin: 5px 0 0 0;
}
.login button {
    background-color: #A2D463;
    color: #fff;
}
.login button:hover {
    color: #fff;
    opacity: .8;
}
.registered-item__edit {
    background-color: #2C88CB;
    color: #fff;
    height: 40px;
    display: block;
    line-height: 40px;
    padding: 0 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}
.registered-item__edit:hover {
    color: #fff;
}
.registered-item__link {
    margin-top: 30px;
    background-color: #2C88CB;
    color: #fff;
    height: 40px;
    display: block;
    line-height: 40px;
    padding: 0 10px;
    text-align: center;
    border-radius: 5px;
}
.registered-item__link:hover {
    color: #fff;
}
.upper__registered-items {
    margin-top: 50px;
    border-top: 3px solid rgba(0,0,0,.1);
}
.registered-item__description,
.item-detail__description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}